/* You can add global styles to this file, and also import other style files */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        line-height: 30px;
        color: darkblue;
    }
}
