/* You can add global styles to this file, and also import other style files */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &.navigation {
        display: block;

        li {
            width: 100px;
            line-height: 30px;
            text-align: center;
            margin: 10px 10px 10px 0;
            display: inline-block;
            background-color: #dddddd;

            a {
                color: black;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

                &.active {
                    font-weight: bold;
                }
            }
        }
    }

    &.movies-list {
        li {
            line-height: 30px;

        }
    }
}

